<mat-card>
  <form #contactForm="ngForm" (ngSubmit)="save(contactForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{contact.firstName ? 'Edit' : 'Add'}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="contact.href">
      <mat-form-field>
        <input matInput placeholder="First Name"
          [(ngModel)]="contact.firstName"
          required name="firstName" #firstName>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Last Name"
          [(ngModel)]="contact.lastName"
          required name="lastName" #lastName>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Mail"
          [(ngModel)]="contact.mail"
          required name="mail" #mail>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!contactForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(contact.href)"
        *ngIf="contact.href" type="button">Delete</button>
      <a mat-button routerLink="/contact-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
