<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span routerLink="/contact-list"
    style="cursor: pointer">Contact list</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-raised-button routerLink="/login"
    (click)="openSnackBar('Logged out !','Dismiss')">Log out</button>
</mat-toolbar>

<div layout-align="center center" layout="column">
  <router-outlet></router-outlet>
</div>
